{{extend 'layout.html'}}

<h2>Admin interface</h2>
<hr>
<div class="row">
	<div class="col-md-12">
		<div class="panel">
		<a class="btn btn-success" style="margin-top: 15px;" href="{{=URL('default','admin/auth_user')}}">Users</a>
		<a class="btn btn-success" style="margin-top: 15px;" href="{{=URL('default','admin/course')}}">Courses</a>
		<a class="btn btn-success" style="margin-top: 15px;"  href="{{=URL('default','admin/verify_faculty')}}">Verify Faculty</a>
		<a class="btn btn-success" style="margin-top: 15px;"  href="{{=URL('default','admin/course_registration')}}">Course Registration</a>
		<a class="btn btn-success" style="margin-top: 15px;"  href="{{=URL('default','admin/course_ta')}}">Course TA</a>
		<a class="btn btn-success" style="margin-top: 15px;"  href="{{=URL('default','admin/course_assignments')}}">Course Assignments</a>
		<a class="btn btn-success" style="margin-top: 15px;"  href="{{=URL('default','admin/course_resources')}}">Course Resources</a>
		<a class="btn btn-success" style="margin-top: 15px;"  href="{{=URL('default','admin/course_assignment_upload')}}">Course Assignment Upload</a>
		<a class="btn btn-success" style="margin-top: 15px;"  href="{{=URL('default','admin/activity')}}">Activity</a>
		</div>
	</div>
</div>
{{ if user_table :}}
<h3>Users</h3>
<hr>
{{=user_table}}
{{pass}}
{{ if course_table :}}
<h3>Courses</h3>
<hr>
{{=course_table}}
{{pass}}
{{ if course_registration_table :}}
<h3>Course Registration</h3>
<hr>
{{=course_registration_table}}
{{pass}}
{{ if course_ta_table :}}
<h3>Course TA</h3>
<hr>
{{=course_ta_table}}
{{pass}}
{{ if course_assignments_table :}}
<h3>Course Assignments</h3>
<hr>
{{=course_assignments_table}}
{{pass}}
{{ if course_resources_table :}}
<h3>Course resources</h3>
<hr>
{{=course_resources_table}}
{{pass}}
{{ if course_assignment_upload_table :}}
<h3>Course Assignment Upload</h3>
<hr>
{{=course_assignment_upload_table}}
{{pass}}
{{ if activity_table :}}
<h3>Activity</h3>
<hr>
{{=activity_table}}
{{pass}}

{{ if verify_grid != None:}}
<div class="row">
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">Verify Faculty</div>
			<div class="panel-body">
				{{ if verify_grid == -1: }}
				<p class="list-group-item">No approvals pending</p>
				{{pass}}
				{{ if verify_grid != 0: }}
					{{for row in rows:}}
				
				<div class="list-group-item">					
						<p><span style="margin-top: 10px;">{{=row.first_name}} {{=row.last_name}}</span><a href="/edify/default/admin_verify/{{=row.id}}" class="btn btn-success right">Approve</a></p>
				</div>				
				{{pass}}
				{{pass}}
			</div>
		</div>
	</div>
</div>

{{pass}}