<div class="panel-heading">
	<div class="glyphicon glyphicon-stats"></div> Marks
</div>
<div class="panel-body">
	




    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Recent Marks Obtained</div>
      <div class="panel-body">

     <table class="table">
        <thead>
          <tr>
            <th>Exam</th>
            <th>Marks</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mid 1</td>
            <td>35/40</td>
          </tr>
          <tr>
            <td>Mid 2</td>
            <td>25/50</td>
          </tr>
          <tr>
            <td>Quiz 1</td>
            <td>15/20</td>
          </tr>
        </tbody>
     </table>
     <div class="col-md-12">
     	<img src="{{=URL('static','images/hist.png')}}">
     </div>
    </div>
        
</div>


    
  
